@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif; /* by Default*/
}

.main {
  background-image: url("Assets/Img/netflixmain.jpg");
  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  height: 80vh;
  position: relative;
}

.main .box {
  height: 80vh;
  width: 100%;
  opacity: 0.44;
  position: absolute;
  top: 0;
  background-color: black;
}

nav {
  max-width: 80vw;
  justify-content: space-between;
  margin: auto;
  display: flex;
  align-items: center;
  height: 62px;
}

nav img {
  color: red;
  width: 114px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  font-family: "Martel Sans", sans-serif;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 23px;
}

.hero :first-child{
    font-weight: 900;
    font-size: 48px;
}
